body{
    font-family: sans-serif;
    text-align: center;
    background-color: cyan;
}

#cookie{
    width: 300px;
}

#scoresection{
    width: 600px;
    display: inline-block;
}

.scoretext{
    height: 150px;
    width: 250px;
    border-style: dashed;
    border-color: red;
    margin: 10px;
    display: inline-block;
}

.numbers{
    font-size: 40px;
}